* {
    margin: 0;
    padding: 0;
}

.nav-toggle {
    display: none;  /* 안 보이게 하자 */
}

.nav-menu ul {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
}

.nav-list {
    display: flex;  /* 기본값: 수평 방향 */
    column-gap: 1.25rem;  /*20px*/
    border: none;
}

.logo2 {
    display: none;
}

.nav-link {
    color: #fff;
}

.profile {
    display: none;
}

.minifooter {
    display: none;
}

.btn {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1508px) {  /* width가 600px가 되면 펼쳐짐 */
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;  /* 위치 무시. 로고 가운데 정렬 */
    }

    .nav-list {
        position: absolute;
        top: 60px;
        left: 0;
        width: 360px;
        flex-direction: column;
        background-color: #ffdc84;
        height: 0;
        overflow: hidden;
        transition: 0.17s;
        border: 0.3px solid #fff;
    }

    .nav-link {
        color: #1d1d1d;
        display: block;  /* 링크의 너비: 컨텐츠 -> nav-item 만큼 늘리자 */
    }

    .logo2 {
        display: block;
        width: 120px;
    }

    .profile {
        width: 120px;
        border-radius: 50%;
        border: 1px solid #1d1d1d;
        top: 90px;
        position: absolute;
        left: 30px;
        display: block;
    }

    .pro {
        width: 300px;
        height: 130px;
        background: rgb(255, 255, 212);
        margin-top: 150px;
        margin-left: 16px;
        border-radius: 16px;
    }

    .btn {
        width: 200px;
        margin: 30px 0px 20px 68px;
        background-color: #1d1d1d;
        color: #fff;
        display: block;
        height: 40px;
        border-radius: 16px;
    }

    .nav-item {
        padding: 0.5rem 1rem;  /* 위오아왼 */
        text-align: center;  /* 가운데 정렬 */
        border-bottom: 1px solid white;  /* 아래 선 */
    }

    .minifooter {
        display: block;
    }

    .minifooter li {
        display: block;
        display: inline-block;
        position: relative;
        height: 100%;
        list-style: none;
        margin: 20px auto;
        left: 56px;
    }

    .nav-footer {
        color: #1d1d1d;
    }

    .show-menu {
        z-index: 999;
        height: 603px;
    }
}

@media screen and (max-width: 479px) {  /* width가 600px가 되면 펼쳐짐 */
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;  /* 위치 무시. 로고 가운데 정렬 */
    }

    .nav-list {
        position: absolute;
        top: 47px;
    }

    .nav-link {
        display: block;  /* 링크의 너비: 컨텐츠 -> nav-item 만큼 늘리자 */
    }
}
/* ------------------------------------------------------------------------------------------------------------- */

.search {
    position: relative;
    width: 780px;
    margin-left: 13%;
}

input {
    width: 100%;
    border: 2.2px solid #ffdc84;
    border-radius: 30px;
    padding: 10px 12px;
    font-size: 14px;
}

@media screen and (max-width: 1508px) {
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;  /* 위치 무시. 로고 가운데 정렬 */
        font-size: 50px;
        left: 7px;
        top: 5px;
    }

    .search {
        margin-top: 60px;
    }

    #logo {
        display: none;
    }

    #conversation {
        display: none;
    }
    
    #bell {
        display: none;
    }
    
    .img-circle {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .search {
        position: relative;
        width: 480px;
        margin: 60px auto;
    }
    
    input {
        width: 100%;
        border: 2px solid #ffdc84;
        border-radius: 30px;
        padding: 10px 12px;
        font-size: 14px;
    }
    
}

@media screen and (max-width: 767px) {
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;  /* 위치 무시. 로고 가운데 정렬 */
        font-size: 35px;
        left: 7px;
        top: 5px;
    }

    .search {
        position: relative;
        width: 400px;
        margin: 60px auto;
    }
    
    input {
        width: 100%;
        border: 2px solid #ffdc84;
        border-radius: 30px;
        padding: 10px 12px;
        font-size: 13px;
    }
    
}

@media screen and (max-width: 479px) {
    .search {
        position: relative;
        width: 320px;
        margin: 60px auto;
    }

    input {
        width: 100%;
        border: 2px solid #ffdc84;
        border-radius: 30px;
        padding: 10px 12px;
        font-size: 11px;
    }
}

#line {
    position: absolute;
    height: 35px;
    width: 3px;
    border-left: 2px solid #cdcdcd;
    top: 3px;
    right: 123px;
}

#cat {
    position: absolute;
    width: 19px;
    top: 12px;
    right: 95px;
}

#chevron-down {
    position: absolute;
    font-size: 28px;
    top: 8px;
    right: 60px;
}

#line2 {
    position: absolute;
    height: 35px;
    width: 3px;
    border-left: 2px solid #cdcdcd;
    top: 3px;
    right: 46px;
}

#search-icon {
    position : absolute;
    font-size: 27px;
    top: 10.2px;
    right: 7.2px;
    margin: 0;
}

.search img:hover {
    cursor: pointer;
}

#logo {
    position : absolute;
    width: 140px;
    top: 49px;
    right: 23.3%;
    margin: 0;
}

#conversation {
    position : absolute;
    font-size: 27px;
    top: 66px;
    right: 20.3%;
}

#bell {
    position : absolute;
    font-size: 28px;
    top: 64px;
    right: 17%;
}

.img-circle {
    width: 29px;
    border-radius: 50%;
    border: 1.7px solid #1d1d1d;
    top: 60px;
    position: absolute;
    right: 13%;
}

/* columns------------------------------------------------------------------------------------------------------------- */
#columns {
    column-width: 350px;
    /* border: 5px solid rebeccapurple; */
    column-gap: 15px;
    margin: 67px 30px 0px 30px;
}

@media screen and (max-width: 1023px) {
    #columns {
        column-width: 300px;
        column-gap: 15px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    #columns {
        column-width: 250px;
        column-gap: 15px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 479px) {
    #columns {
        column-width: 150px;
        column-gap: 15px;
        margin-top: 30px;
    }
}

#columns figure {
    display: inline-block;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 16px;
    margin: 0;
    margin-bottom: 15px;
    padding: 16px;
    /* box-shadow: 2px 2px 5px rgb(150, 150, 150); */
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    border-top: 1px solid rgb(209, 209, 209);
    padding: 10px;
    margin-top: 11px;
}

/* nav--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1023px) {
    nav {
        position: fixed; /* 이 부분을 고정 */
        bottom: 0; /* 하단에 여백 없이 */
        width: 100%; /* 가로 사이즈를 브라우저에 가득 채움 */
        background: #ffdc84;
        height: 82px;
    }

    #home {
        font-size: 60px;
    }

    #bxs {
        font-size: 60px;
    }

    #cog {
        font-size: 60px;
    }
    
}